# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.pytest_cache/

# Environment and Credentials
.env
credentials.json
service_account.json
authorized_user.json

# Local Generated Data
Shift_Details_jul_2026.xlsx
